<div class="mainContainer">
  <div class="temperatureContainer">
    <div class="temperature">
      <div class="celsiusContainer">
        <span>Celsius:</span>
        <input type="number" [(ngModel)]="celsius" (input)="onCelsiusChanged()" min="-30" max="200">
      </div>
    
      <div class="rangeContainer">
        <input class="range" type="range" min="-30" max="200" [(ngModel)]="celsius" (input)="onCelsiusChanged()" [style.background]="getTemperatureColor()">
      </div>
    
      <div class="fahrenheitContainer">
        <span>Fahrenheit:</span>
        <input type="number" [(ngModel)]="fahrenheit" (input)="onFahrenheitChanged()">
      </div>
    </div>

    <div class="errorMessage" *ngIf="errorMessage">{{ errorMessage }}</div>
  </div>
</div>

<router-outlet></router-outlet>
